table{
    border-collapse: collapse;
    text-align: center;
}

td, th , tfoot {
    border: 1px solid #ccc;
    padding: 10px 20px;
  }
 
  h1,a{
      color:brown;
  }

  a{
      font-size: 30px;
  }

