
body{
  margin:20px;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin:20px;
}

td, th , tfoot {
    border: 1px solid brown;
    padding: 10px 20px;
    font-size: 20px;
  }
 
  h1,a{
      color:brown;
      font-size: 37px;
  }

  a{
      font-size: 30px;
  }

  fieldset{
    margin: 20px;
      width: 35%;
      padding-bottom: 40px;
      background-color: brown;
      font-size: 25px;;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
  }
  
 button[type=submit] {
    width: 100%;
    background-color:burlywood;
    color: black;
    font-size: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:darksalmon;
  }